li {
  list-style-image: url('https://raw.githubusercontent.com/s-dney/90sweb/master/backgrounds/rubber-ducks-final.jpg');
}

marquee{
	color: #ffffff;
	position: relative;
	z-index: 999;
	position: fixed;
	top: 0;
	font-size: 24px;
}
a{
	position: relative;
	z-index: 99999;
}
/*
#marqimg{
	position: fixed;
	top: -100;
	left: 30;
	width:"600";
	height:"600";
	direction: "down";

}
 */
