body,div,h1,h2 {
  background: url('http://ichef.bbci.co.uk/news/976/cpsprodpb/0347/production/_92593800_gettyimages-482923234.jpg') !important;
  font-family: fantasy !important;
}

li {
  list-style-image: url('https://raw.githubusercontent.com/s-dney/90sweb/master/backgrounds/rubber-ducks-final.jpg');
}


#masthead,
#primary {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  background-color: #fff;
  padding: 20px !important;
}
#masthead {
  background: none;
}
#masthead img, #primary img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
marquee{
	color: #ffffff;
	position: relative;
	z-index: 999;
	position: fixed;
	top: 0;
}
/* 
#marqimg{
	position: fixed;
	top: -100;
	left: 30;
	width:"600";
	height:"600";
	direction: "down";

}
 */
